.container-fluid {
    background-color: #f4f8fb;
    padding-left: 5vw;
    padding-top: 8vw;
    min-height: 100%;
    padding-right: 5vw;
}

.card {
    border-radius: 1rem;
    border-style: solid;
    border-width: .125rem;
    min-height: 25rem;
    min-width: 15vw;
}

.card-body {
    padding: 1rem !important;
    min-height: 25vw;
}

.heading {
    color: grey;
    font-weight: 500;
    font-size: 1.75rem;
}

.btn {
    color: white;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
}

mat-form-field {
    display: block;
}

.radButtonDiv {
    min-width: 8rem;
    border: .1em solid grey;
    padding: 0.5rem;
    font-size: .95rem;
    color: grey;
}

.subButton {
    color: white;
    background-color: grey
}

label {
    font-size: 1.25rem;
    font-weight: 600;
    color: grey;
    margin-bottom: 1.2rem;
    margin-top: 1rem;
    word-spacing: 2px;
}