<div class="container-fluid">
    <div class="row d-flex justify-content-center text-center">
        <p class="heading">INFORMATION PORTAL</p>
    </div>
    <br>
    <br>
    <div class="row d-flex justify-content-center text-center">
        <div class="card" style="background-color: white;">
            <div class="card-body">
                <form [formGroup]="simpleForm" (ngSubmit)="submit()" class="form" #formDirective="ngForm">
                    <mat-form-field class="form-element">
                        <input matInput placeholder="Name" formControlName="Name" required>
                        <mat-error *ngIf="!simpleForm.controls['Name'].valid && simpleForm.controls['Name'].touched">
                            {{getNameError()}}
                        </mat-error>
                    </mat-form-field>

                    <mat-radio-group aria-label="Select an option" formControlName="Gender" required>
                        <mat-radio-button value="Male" class="radButton">Male</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="Female" class="radButton">Female</mat-radio-button>
                    </mat-radio-group>

                    <mat-form-field class="form-element" style="margin-top: 1rem;">
                        <input matInput placeholder="Email" formControlName="Email" required>
                        <mat-error *ngIf="!simpleForm.controls['Email'].valid && simpleForm.controls['Email'].touched">
                            {{getEmailError()}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput placeholder="Contact Number" formControlName="Number" required>
                        <mat-error *ngIf="!simpleForm.controls['Number'].valid && simpleForm.controls['Number'].touched">
                            {{getNumberError()}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <textarea matInput placeholder="Message" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName="Message"></textarea>
                    </mat-form-field>

                    <div class="form-element">
                        <button class="btn text-white badge-pill text-nowrap subButton" type="submit" [disabled]="!simpleForm.valid" style="background-color: grey;">Submit
                            <div class="preloader-wrapper active" *ngIf="showSpinner">
                            <div class="spinner-layer spinner-blue-only">
                              <div class="circle-clipper left">
                                <div class="circle"></div>
                              </div>
                              <div class="gap-patch">
                                <div class="circle"></div>
                              </div>
                              <div class="circle-clipper right">
                                <div class="circle"></div>
                              </div>
                            </div>
                          </div></button>
                    </div>
                </form>
            </div>
        </div>
    </div><br>
    <div class="alert alert-secondary justify-content-center text-center" role="alert" *ngIf="alertActive">
        Your details have been saved !!
    </div>
</div>