<div class="container-fluid">
    <div class="row d-flex justify-content-center text-center">
        <p class="heading">INFORMATION PORTAL</p>
    </div>
    <br><br>
    <div class="row d-flex justify-content-center text-center">

        <div class=" col-8 col-sm-8 col-md-4 col-lg-3 col-xl-3">
            <div class="card " style="background-color: #fee9e8;">
                <div class="card-body">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="90" height="95" class="userIcon"><path fill-rule="evenodd" d="M12 2.5a5.5 5.5 0 00-3.096 10.047 9.005 9.005 0 00-5.9 8.18.75.75 0 001.5.045 7.5 7.5 0 0114.993 0 .75.75 0 101.499-.044 9.005 9.005 0 00-5.9-8.181A5.5 5.5 0 0012 2.5zM8 8a4 4 0 118 0 4 4 0 01-8 0z"></path></svg>
                    <button type="button" class="btn badge-pill text-nowrap" style="background-color: #d25050;position: relative;" (click)="listPage()">
                    List View</button>
                </div>
            </div>
        </div>
        <div class="col-8 col-sm-8 col-md-4 col-lg-3 col-xl-3">
            <div class="card" style="background-color: #e2ffed;">
                <div class="card-body">
                    <img src="../assets/img/page.png" class="pageIcon">
                    <button type="button" class="btn badge-pill text-nowrap" style="background-color: #3eb26b;" (click)="formPage()">
                    Form</button>
                </div>
            </div>
        </div>

    </div>
</div>